@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 14px;
  line-height: 30px;
  min-width: 320px; }

.button {
  font-size: 18px;
  line-height: 18px;
  min-width: 280px;
  font-weight: bold;
  padding: 15px;
  text-align: center; }
  .button__download {
    border: 3px solid #fff;
    border-radius: 30px;
    background: none;
    color: #fff; }

.wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto; }

.header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 5; }
  .header__inner {
    padding: 21px 20px 16px;
    display: flex;
    justify-content: space-between; }

.nav-menu {
  display: none; }
  .nav-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column; }
  .nav-menu__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
    display: flex; }
  .nav-menu__link {
    padding: 22px 0;
    text-align: center;
    flex: 1; }

.promo {
  position: relative;
  margin-top: -66px;
  padding-top: 462px;
  background: #1d2631 url("/img/back-desktop.jpg.png") top center/auto 462px no-repeat;
  color: #fff; }
  .promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 35px; }
  .promo__title {
    display: none; }
  .promo__button {
    margin-bottom: 30px; }
  .promo__app-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 30px; }
  .promo__description {
    line-height: 24px;
    text-align: center;
    padding: 0 30px;
    font-weight: lighter; }

.page-offer {
  font-size: 24px;
  color: #283645;
  padding-top: 45px;
  text-align: center; }
  .page-offer p {
    margin-bottom: 40px; }

.feature {
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  position: relative; }
  .feature__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px; }
  .feature__el {
    margin-bottom: 40px;
    text-align: center; }
    .feature__el:nth-child(1)::after {
      content: "";
      display: none;
      position: absolute;
      width: 186px;
      height: 301px;
      background: url("/img/iphone_screen_1.png") no-repeat center bottom/contain; }
    .feature__el:nth-child(2)::after {
      content: "";
      display: none;
      position: absolute;
      width: 186px;
      height: 301px;
      background: url("/img/iphone_screen_2.png") no-repeat center bottom/contain; }
    .feature__el:nth-child(3) {
      margin-bottom: 320px; }
      .feature__el:nth-child(3)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 157px;
        height: 277px;
        background: url("/img/iphone_screen_3.png") no-repeat center bottom/contain; }
  .feature__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px; }

.reviews {
  padding: 50px 0 35px;
  min-height: 350px; }
  .reviews__inner {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .reviews__el {
    display: none; }
    .reviews__el--show {
      display: block; }
  .reviews__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px; }
  .reviews__descr {
    padding: 0 3px;
    margin-bottom: 40px; }

.dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dots__el {
    width: 6px;
    height: 6px;
    background-color: #bec3c7;
    border-radius: 15px;
    margin: 0 10px; }
    .dots__el--active {
      background-color: #fff;
      border: 3px solid #283645;
      box-sizing: content-box; }

.price {
  display: flex;
  flex-direction: column;
  padding: 100px 0 50px;
  overflow: hidden;
  align-items: center;
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  border-collapse: collapse; }
  .price th,
  .price td {
    border: 2px solid #e5e5e5;
    min-width: 260px;
    padding: 20px; }
  .price__table {
    border-collapse: collapse;
    background-color: #fff; }
  .price__tariff {
    border: 2px solid #283645;
    border-right: 2px solid #e5e5e5;
    background: #283645;
    color: #fff;
    position: relative;
    overflow: hidden; }
    .price__tariff:nth-of-type(2)::before {
      content: "Хит";
      width: 100px;
      transform: rotate(-45deg);
      position: absolute;
      font-size: 14px;
      font-weight: lighter;
      line-height: 21px;
      padding: 3px;
      text-transform: uppercase;
      top: 10px;
      left: -30px;
      background-color: #d22856; }
  .price__tariff-name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; }
  .price__tariff-value {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: lighter; }
  .price__tariff-inner {
    display: inline-flex;
    flex-direction: column; }
  .price__el-hidden {
    visibility: hidden; }
  .price__mark {
    display: flex;
    justify-content: flex-start; }
    .price__mark img {
      margin-left: auto; }
  .price__dots {
    margin-top: 45px; }

.contacts {
  padding-top: 50px;
  text-align: center; }
  .contacts__offer {
    font-size: 24px;
    color: #283645;
    text-align: center;
    margin-bottom: 45px; }
  .contacts__el {
    margin-bottom: 20px;
    position: relative; }
  .contacts__title {
    font-size: 18px;
    font-weight: bold;
    color: #283645; }
  .contacts__data {
    font-size: 24px;
    font-weight: lighter;
    color: #d22856;
    text-decoration: none; }
  .contacts__map {
    overflow: hidden;
    position: relative; }
    .contacts__map::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 123px;
      background: url("/img/triangle-white-footer.svg.png") no-repeat top center/cover; }

/*# sourceMappingURL=style.css.map */
