@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 14px;
  line-height: 30px;
  min-width: 320px; }

.button {
  font-size: 18px;
  line-height: 18px;
  min-width: 280px;
  font-weight: bold;
  padding: 15px;
  text-align: center; }
  .button__download {
    border: 3px solid #fff;
    border-radius: 30px;
    background: none;
    color: #fff; }

@media (min-width: 660px) {
  .button {
    width: 300px; } }

.wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto; }

@media (min-width: 660px) {
  .wrapper {
    width: 660px; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 960px; } }

.header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  min-height: 66px; }
  .header__inner {
    padding: 21px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .header__logo {
    width: 75px;
    height: 22px;
    background: url("/img/logotype-white-mobile.svg.png") no-repeat top center/contain; }
  .header__hamburger {
    width: 50px;
    height: 24px;
    background: url("/img/menu-burger.svg.png") no-repeat top center/contain;
    cursor: pointer; }
    .header__hamburger--toggled {
      width: 24px;
      height: 23px;
      background: url("/img/menu-cross.svg.png") no-repeat top center/contain; }

@media (max-width: 1200px) {
  .header--opened {
    background-color: #283645; }
    .header--opened .header__inner {
      border-bottom: 1px solid #000; }
  .header--closed {
    background-color: rgba(0, 0, 0, 0.3); }
  .header--no-js {
    background-color: #283645; } }

@media (min-width: 660px) and (max-width: 1200px) {
  .header__inner {
    min-height: 110px;
    padding: 35px 20px;
    max-width: 940px; } }

@media (min-width: 660px) {
  .header__logo {
    width: 147px;
    height: 40px;
    background: url("/img/logotype-white-tablet.svg.png") no-repeat top center/contain; } }

@media (min-width: 1200px) {
  .header__logo {
    background: url("/img/logotype-white-desktop.svg.png") no-repeat top center/contain; }
  .header__inner {
    padding: 0;
    min-height: 0; }
  .header__hamburger {
    display: none; }
  .header__wrapper {
    width: 960px;
    min-height: 110px;
    padding: 35px 10px;
    margin: 0 auto;
    display: flex; } }

.nav-menu {
  position: relative;
  z-index: 2; }
  .nav-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column; }
  .nav-menu__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
    display: flex; }
  .nav-menu__link {
    font-weight: bold;
    font-size: 18px;
    padding: 22px 0;
    text-align: center;
    flex: 1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }

@media (max-width: 1200px) {
  .nav-menu--opened {
    display: block; }
  .nav-menu--closed {
    display: none; }
  .nav-menu--no-js {
    display: block; } }

@media (min-width: 1200px) {
  .nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto; }
    .nav-menu__list {
      flex-direction: row;
      justify-content: flex-end; }
    .nav-menu__item {
      border: none;
      margin-left: 80px; }
    .nav-menu__link {
      font-weight: normal;
      text-transform: none;
      padding: 0; } }

.promo {
  display: flex;
  position: relative;
  margin-top: -66px;
  min-height: 462px;
  background: #1d2631 url("/img/back-mobile@1x.jpg.png") top center/auto no-repeat;
  overflow: hidden;
  color: #fff; }
  .promo__wrapper {
    margin-top: 462px; }
  .promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 35px;
    position: relative;
    background-color: #1d2631;
    z-index: 1; }
  .promo__title {
    display: none;
    font-size: 40px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
    width: 200px;
    margin-bottom: 40px; }
  .promo__button {
    margin-bottom: 30px; }
  .promo__app-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 30px; }
  .promo__description {
    line-height: 24px;
    text-align: center;
    padding: 0 30px;
    font-weight: lighter; }
  .promo__img-iphone {
    position: absolute;
    top: 175px;
    right: -10px; }

@media (min-width: 320px) and (max-width: 1200px) {
  .promo {
    background: #1d2631 url("/img/back-tablet@1x.png") top center/auto 462px no-repeat; } }

@media (max-width: 590px) {
  .promo__content {
    padding-left: 20px;
    padding-right: 20px; }
  .promo .wrapper {
    padding: 0; } }

@media (min-width: 660px) {
  .promo {
    margin-top: -110px;
    min-height: 729px;
    background-size: auto 729px; }
    .promo__content {
      width: 300px;
      padding-top: 0;
      background: none; }
    .promo__wrapper {
      margin-top: 210px;
      margin-left: 0; }
    .promo__title {
      display: block; }
    .promo__img-iphone {
      bottom: 0px;
      top: auto;
      right: -115px; }
    .promo__button {
      margin-bottom: 45px; }
    .promo__app-list {
      margin-bottom: 40px; }
    .promo__description {
      padding: 0;
      font-size: 18px; } }

@media (min-width: 1200px) {
  .promo {
    min-height: 853px;
    background: #1d2631 url("/img/back-desktop.jpg.png") top center/cover no-repeat; }
    .promo__img-iphone {
      right: 0; }
    .promo__title {
      margin-bottom: 60px; }
    .promo__button {
      margin-bottom: 65px; }
    .promo__app-list {
      margin-bottom: 60px; } }

.page-offer {
  font-size: 24px;
  color: #283645;
  padding-top: 45px;
  text-align: center;
  font-weight: lighter; }
  @media (min-width: 660px) {
    .page-offer {
      font-size: 40px;
      line-height: 45px; } }
  .page-offer p {
    margin-bottom: 40px; }
    @media (min-width: 660px) {
      .page-offer p {
        margin-bottom: 0; } }

.feature {
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  position: relative; }
  .feature__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 90px; }
    @media (min-width: 660px) {
      .feature__inner {
        flex-direction: row;
        padding-top: 50px; } }
  .feature__screens {
    display: flex;
    align-items: center; }
  .feature__screen-el {
    display: none; }
    .feature__screen-el:nth-of-type(3) {
      display: block; }
    @media (min-width: 660px) {
      .feature__screen-el {
        margin-right: 40px; } }
  .feature__information {
    display: flex;
    flex-direction: column; }
  .feature__information-el {
    margin-bottom: 40px;
    text-align: center;
    line-height: 24px; }
    @media (min-width: 660px) {
      .feature__information-el {
        text-align: left; } }
  .feature__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px; }
  .feature__description {
    color: #283645; }

.reviews {
  padding: 50px 0 35px;
  min-height: 350px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  background-color: #fff; }
  @media (min-width: 660px) {
    .reviews {
      margin-top: 0; } }
  .reviews__inner {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .reviews__el {
    display: none; }
    .reviews__el--show {
      display: block; }
  .reviews__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px; }
  .reviews__descr {
    padding: 0 3px;
    margin-bottom: 40px; }

.dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dots__el {
    width: 6px;
    height: 6px;
    background-color: #bec3c7;
    border-radius: 15px;
    margin: 0 10px; }
    .dots__el--active {
      background-color: #fff;
      border: 3px solid #283645;
      box-sizing: content-box; }

.price {
  display: flex;
  flex-direction: column;
  padding: 100px 0 50px;
  overflow: hidden;
  align-items: center;
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  border-collapse: collapse; }
  .price th,
  .price td {
    border: 2px solid #e5e5e5;
    min-width: 260px;
    padding: 20px; }
  .price__table {
    border-collapse: collapse;
    background-color: #fff; }
  .price__tariff {
    border: 2px solid #283645;
    border-right: 2px solid #e5e5e5;
    background: #283645;
    color: #fff;
    position: relative;
    overflow: hidden; }
    .price__tariff:nth-of-type(2)::before {
      content: "Хит";
      width: 100px;
      transform: rotate(-45deg);
      position: absolute;
      font-size: 14px;
      font-weight: lighter;
      line-height: 21px;
      padding: 3px;
      text-transform: uppercase;
      top: 10px;
      left: -30px;
      background-color: #d22856; }
  .price__tariff-name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; }
  .price__tariff-value {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: lighter; }
  .price__tariff-inner {
    display: inline-flex;
    flex-direction: column; }
  .price__el-hidden {
    visibility: hidden; }
  .price__mark {
    display: flex;
    justify-content: flex-start; }
    .price__mark img {
      margin-left: auto; }
  .price__dots {
    margin-top: 45px; }

.contacts {
  padding-top: 50px;
  text-align: center; }
  .contacts__offer {
    font-size: 24px;
    color: #283645;
    text-align: center;
    margin-bottom: 45px; }
  .contacts__el {
    margin-bottom: 20px;
    position: relative; }
  .contacts__title {
    font-size: 18px;
    font-weight: bold;
    color: #283645; }
  .contacts__data {
    font-size: 24px;
    font-weight: lighter;
    color: #d22856;
    text-decoration: none; }
  .contacts__map {
    overflow: hidden;
    position: relative; }
    .contacts__map::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 123px;
      background: url("/img/triangle-white-footer.svg.png") no-repeat top center/cover; }

.round-diagram {
  padding-top: 60px;
  display: none; }
  @media (min-width: 660px) {
    .round-diagram {
      display: block; } }
  .round-diagram__inner {
    display: flex;
    align-items: center; }
  .round-diagram__timer {
    margin-right: 70px; }
  .round-diagram__information {
    padding-right: 10px; }
  .round-diagram__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 10px; }
    @media (min-width: 1200px) {
      .round-diagram__title br {
        display: none; } }
  .round-diagram__description {
    color: #283645;
    line-height: 10px; }

/*# sourceMappingURL=style.css.map */
