.feature {
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  position: relative;
  &__inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 90px;
  @media (min-width: $tablet-w) {
    flex-direction: row;
    padding-top: 50px;
  }
  }
  &__screens {
    display: flex;
    align-items: center;
  }
  &__screen-el {
    display: none;
    &:nth-of-type(3) {
      display: block;
    }
    @media (min-width: $tablet-w) {
      margin-right: 40px;
    }
  }
  &__information {
    display: flex;
    flex-direction: column;
  }
  &__information-el {
    margin-bottom: 40px;
    text-align: center;
    line-height: 24px;
    @media (min-width: $tablet-w) {
      text-align: left;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__description {
    color: #283645;
  }
}