.header {
	display:flex;
	justify-content: space-between;
	padding: 25px 0 35px;
	&-wrap {
		background: rgba(0,0,0,0.3);
	}
	&__logo {
		display: block;
		height: 50px;
		width: 150px;
	}
}
@media (min-width: $desctop-w) {
	.header {
		&__logo {
			background: url("/img/logotype-white-desktop.png") no-repeat 50% 50%;
		}
	}
}
@media (min-width: $table-w) and (max-width: $desctop-w) {
	.header {
		&__logo {
			background: url("/img/logotype-white-tablet.png") no-repeat 50% 50%;
		}
	}
}
@media (max-width: $table-w) {
	.header {
		&__logo {
			background: url("/img/logotype-white-mobile.png") no-repeat 0% 50%;
		}
	}
}