.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	&__el {
		display: flex;
		align-items: center;
		margin-left: 75px;
	}
	&__link {
		text-decoration: none;
		color: #fff;
	}
}