.promo {
  margin-top: -66px;
  padding-top: 462px;
  background-color: #1d2631;
  background-image: url('/img/back-desktop.jpg.png');
  background-repeat: no-repeat;
  background-size: auto 462px;
  background-position: 50% 0;
}