@import "fonts.scss";
@import "variables.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $main-font;
}
body {
	font-size: 14px;
	line-height: 30px;
	min-width: 320px;
}

@import "button.scss";
@import "wrappers.scss";
@import "header.scss";
@import "nav-menu.scss";
@import "promo.scss";
@import "page-offer.scss";
@import "feature.scss";
@import "reviews.scss";
@import "dots.scss";
@import "price.scss";