$desctop-w: 990px;
$table-w: 660px;
$mobile-w: 320px;

/*** цвета *****/

$primary-color: #283645;
$secondary-color: #d22856;
$title-color: #000000;

/*** шрифты *****/

$main-font: 'Open Sans', sans-serif;
$primary-fz: 18px;
$desctop-title-fz: 50px;
$tablet-title-fz: 40px;
$mobile-title-fz: 24px;
