.competition {
    text-align: center;
    padding: 50px 0;
    font-size: 14px;
    line-height: 30px;
    color: #364351;
    @media (min-width: $tablet-w) {
        padding: 90px 0 70px;
        font-size: 18px;
    }
    p {
        @media (min-width: $tablet-w) {
            padding: 0 60px;
        }
        @media (min-width: $desctop-w) {
            padding: 0 90px;
        }
    }
    span {
        display: none;
        @media (min-width: $tablet-w) {
            display: inline;
        }
    }
    br {
        @media (min-width: $tablet-w) and (max-width: $desctop-w--down) {
            display: none;
        }
    }
}