.feature {
  background: #fff url("../img/Shape_2.png") no-repeat top/cover;
  position: relative;
  &__inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 90px;
  @media (min-width: $tablet-w) {
    flex-direction: row;
    padding-top: 50px;
  }
  @media (min-width: $desktop-w) {
    flex-direction: column;
    padding: 0 30px;
  }
  }
  &__screens {
    display: flex;
    align-items: center;
    @media (min-width: $desktop-w) {
      align-self: stretch;
      justify-content: space-between;
    }
  }
  &__screen-el {
    display: none;
    position: relative;
    &:nth-of-type(3) {
      display: block;
    }
    @media (min-width: $tablet-w) {
      margin-right: 40px;
    }
    @media (min-width: $desktop-w) {
      display: block;
      margin-right: 0;
      width: 230px;
      text-align: center;
      &::after {
        position: absolute;
        content: "";
        width: 300px;
        height: 189px;
        background-image: url("../img/block_for_iscreens.png");
        top: 300px;
        left: -30px;
        box-shadow: 0 -18px 14px -20px rgba(0,0,0,.3);
      }
    }
  }
  &__information {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop-w) {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -30px;
    }
  }
  &__information-el {
    margin-bottom: 40px;
    text-align: center;
    line-height: 24px;
    position: relative;
    z-index: 2;
    @media (min-width: $tablet-w) {
      text-align: left;
    }
    @media (min-width: $desktop-w) {
      width: 230px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    @media (min-width: $desktop-w) {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 25px;
    }
  }
  &__description {
    color: #283645;
    @media (min-width: $desktop-w) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}