.footer {
  display: none;
  @media (min-width: $tablet-w) {
    display: block;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    @media (min-width: $tablet-w) {
      flex-direction: row;
    }
    @media (min-width: $desktop-w) {
      padding: 75px 0;
    }
    section:not(:last-child) {
      margin-bottom: 40px;
      @media (min-width: $tablet-w) {
        margin-bottom: 0;
      }
    }
  }
  &__logo-link {
    display: block;
    width: 147px;
    height: 40px;
    background: #fff url("../img/logotype-footer-tablet.svg.png") no-repeat top center;
    @media (min-width: $desktop-w) {
      background-image: url("../img/logotype-footer-desktop.svg.png");
    }
  }
  &__social {
    display: flex;
  }
  &__soc-el {
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 18px;
    }
    &:hover {
      border-color: rgba(40, 54, 69, 1);
    }
    &:active {
      border: 3px solid rgba(40, 54, 69, 0.1);
      opacity: 0.3;
    }
  }
  &__dev {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      color: #283645;
      @media (min-width: $desktop-w) {
        font-size: 18px;
      }
    }
    img {
      margin-left: 15px;
    }
  }
}
.main-form+.footer {
  display: block;
}
.photo+.footer {
  display: block;
}