.form {
    color: #364351;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    flex-wrap: wrap;
    @media (min-width: $desktop-w) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    legend {
        display: block;
        color: #d22856;
        line-height: 18px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 40px;
        @media (min-width: $tablet-w) {
            width: auto;
        }
    }
    fieldset {
        margin-bottom: 40px;
        border: none;
        @media (min-width: $tablet-w) {
            border: 2px solid #e5e5e5;
            margin-bottom: 20px;
        }
    }
    &__wrap {
        padding: 0 20px;
        @media (min-width: $tablet-w) {
            padding: 0 60px;
        }
    }
    &__info {
        border: none !important;
        padding: 0 20px;
        @media (min-width: $tablet-w) {
            order: 1;
            padding: 0;
        }
        @media (min-width: $desktop-w) {
            width: 47%;
        }
        legend {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            visibility: hidden;
        }
        label {
            padding: 10px 20px;
            color: #d22856;
            text-transform: uppercase;
            @media (min-width: $tablet-w) {
                padding: 0;
                margin-right: 20px;
            }
        }
        .form__input-wrapper {
            @media (min-width: $tablet-w) {
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        @media (min-width: $tablet-w) {
            margin-bottom: 50px;
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
    &__crazy-tour {
        background-color: #f2f2f2;
        @media (min-width: $tablet-w) {
            order: 4;
            background-color: #fff;

        }
        @media (min-width: $desktop-w) {
            width: 100%;            
        }
        legend {
            background-color: #f2f2f2;
            @media (min-width: $tablet-w) {
                background-color: #fff;
            }
        }
        .form__input-wrapper {
            margin-bottom: 0;
        }
        .form__wrap {
            @media (min-width: $desktop-w) {
            display: flex;
            justify-content: space-between;
            }
        }
    }
    &__contacts {
        text-transform: uppercase;
        @media (min-width: $tablet-w) {
            order: 3;
            background-color: #fff;
        }
        @media (min-width: $desktop-w) {
            width: 100%;
        }
        legend {
            display: none;
            @media (min-width: $tablet-w) {
                display: block;
            }
        }
        label {
            color: #d22856;
            padding: 10px 20px;
        }
        input {
        position: relative;
            @media (min-width: $tablet-w) {

            }
        }
        .form__wrap {
            @media (min-width: $desktop-w) {
                display: flex;
                justify-content: space-between;
            }
        }
        .form__input-wrapper {
            position: relative;
            @media (min-width: $tablet-w) {
                flex-direction: column-reverse;
                align-items: flex-start;
                margin-bottom: 20px;
            }
            @media (min-width: $desktop-w) {
                width: 47%;
            }
        }
    }
    &__app-tour {
        background-color: #f2f2f2;
        @media (min-width: $tablet-w) {
            order: 2;
            background-color: #fff;

        }
        @media (min-width: $desktop-w) {
            width: 47%;
        }
        legend {
            background-color: #f2f2f2;
            @media (min-width: $tablet-w) {
                background-color: #fff;
            }
        }
        textarea {
            min-height: 200px;
            resize: none;
        }
    }
    &__emo {
        width: 100%;
        @media (min-width: $tablet-w) {
            order: 5;
        }
        legend {
            padding-top: 0;
            padding-bottom: 20px;
            @media (min-width: $tablet-w) {
                padding: 40px;
        }
        }
        textarea {
            min-height: 200px;
            @media (min-width: $tablet-w) {
                min-height: 190px;
                margin-bottom: 40px;
            }
        }
    }
    &__submit {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        @media (min-width: $tablet-w) {
            width: 100%;
            padding: 0;
            order: 6;
            flex-direction: row;
            margin: 40px 0 20px;
            justify-content: space-between;
        }
        input[type="submit"] {
        margin-bottom: 40px;
            @media (min-width: $tablet-w) {
                margin-bottom: 0;
            }
         }
        .require {
            text-align: center;
            text-transform: uppercase;

            span {
                color: #d22856;
            }
        }
    }
}