.form {
    color: #364351;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    legend {
        display: block;
        color: #d22856;
        line-height: 18px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 40px;
        @media (min-width: $tablet-w) {
            width: auto;
        }
    }
    fieldset {
        margin-bottom: 40px;
        border: none;
        @media (min-width: $tablet-w) {
            border: 2px solid #e5e5e5;
        }
    }
    &__wrap {
        padding: 0 20px;
        @media (min-width: $tablet-w) {
            padding: 0 60px;
        }
    }
    &__info {
        border: none !important;
        @media (min-width: $tablet-w) {
            order: 1;
        }
        legend {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            visibility: hidden;
        }
        label {
            padding: 10px 20px;
            color: #d22856;
            text-transform: uppercase;

        }
        &-inner {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            @media (min-width: $tablet-w) {
                margin-bottom: 50px;
            }
            &:last-of-type {
                margin-bottom: 0px;
            }
            @media (min-width: $tablet-w) {
                flex-direction: row;
            }
        }
    }
    &__crazy-tour {
        background-color: #f2f2f2;
        legend {
            background-color: #f2f2f2;
        }
    }
    &__contacts {
        legend {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            visibility: hidden;
        }
        label {
            color: #d22856;
            padding: 10px 20px;
        }
    }
    &__app-tour {
        background-color: #f2f2f2;
        @media (min-width: $tablet-w) {
            order: 2;
            background-color: #fff;

        }
        legend {
            background-color: #f2f2f2;
            @media (min-width: $tablet-w) {
                background-color: #fff;
            }
        }
        textarea {
            min-height: 200px;
            resize: none;
}
    }
    input[type="submit"] {
        margin-bottom: 40px;
    }
    .require {
        text-align: center;
        text-transform: uppercase;
        span {
            color: #d22856;
        }
    }
}