label {
    display: block;
}
input,
textarea {
    position: relative;
    z-index: 1;
    font-size: 18px;
    padding: 16px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    width: 100%;
    resize: none;
    transition-duration: .1s;
    background-color: rgba(0,0,0,0);
    &::placeholder {
        color: #364351;
    }
    &:hover {
    outline: none;
    border: 2px solid #000;
    transition-duration: .25s;
    }
    &:focus {
        outline: none;
        border-color: #d22856;
        transition-duration: .1s;
    }
}
input[type="submit"] {
    background-color: #2aab6d;
    border: 2px solid #2aab6d;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    @media (min-width: $tablet-w) {
        width: 300px;
    };
    cursor: pointer;
    &:hover {
        background-color: #1c9b5e;
    }
    &:active {
        color: rgba(255,255,255,.3);
    }
    &:disabled {
        background-color: #e5e5e5;
        border-color: #e5e5e5;
    }
}
input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    z-index: -10;
    opacity: 0;
    width: auto;
}
input[type="checkbox"]+label,
input[type="radio"]+label {
    position: relative;
    padding-left: 65px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
    &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    }
    &:hover::before {
        outline: none;
        border: 2px solid #283645;
        transition-duration: .1s;
    }
}
input[type="radio"]+label::before {
    border-radius: 30px;
}
input[type="checkbox"]:checked+label::before {
    background: #fff url(../img/tick.png) 50% 50% no-repeat;
    border-color: #d22856;
    transition-duration: .13s;
}
input[type="checkbox"]:not(:checked)+label::before {
    background: #fff;
    transition-duration: .13s;
}

input[type="radio"]:checked+label::before {
    background-color: #d22856;
    border-color: #d22856;
    box-shadow: inset 0px 0px 0px 9px #fff;
    transition-duration: .13s;
}
input[type="radio"]:not(:checked)+label::before {
    background: #fff;
    transition-duration: .13s;
}
input[type="tel"]+span, 
input[type="email"]+span {
    display: none;
    @media (min-width: $tablet-w) { 
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 3px;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e5e5;
        transition-duration: .15s;
    }
}
input[type="tel"]:hover+span, 
input[type="email"]:hover+span {
    background-color: #000;
    transition-duration: .25s;
}
input[type="tel"]:focus+span, 
input[type="email"]:focus+span {
    opacity: 0;
    transition-duration: .1s;
}