.nav-menu {
  position: relative;
  z-index: 2;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
    display: flex;
  }
  &__link {
    font-weight: bold;
    font-size: 18px;
    padding: 22px 0;
    text-align: center;
    flex: 1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #d22856;
    }
    &:active {
      opacity: 0.3;
      @media (min-width: $desctop-w) {
        color: #fff;
      }
    }
  }
}

@media (max-width: $desctop-w--down) {
  .nav-menu {
    &--closed {
      display: none;
    }
    &--no-js {
      display: block;
    }
  }
}
@media (min-width: $desctop-w) {
  .nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__list {
      flex-direction: row;
      justify-content: flex-end;
    }
    &__item {
      border: none;
      margin-left: 80px;
    }
    &__link {
      font-weight: normal;
      text-transform: none;
      padding: 0;
    }
  }
}
  
