.post {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    &__photo {
        margin-bottom: 40px;
    }
    &__filter {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        align-items: center;
        span {
            display: block;
            cursor: pointer;
        }
    }
    &__filter-icon {
        fill: #283645;
        opacity: 0.3;
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    &__filter-icon--active {
        fill: #d22856;
        opacity: 1;
        &:hover {
            opacity: 1;
        }
    }
    &__filter-icon--crop {
        width: 44px;
        height: 44px;
    }
    &__filter-icon--fill {
        width: 48px;
        height: 43px;
    }
    &__filter-icon--contrast {
        width: 32px;
        height: 32px;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__post-btn {
        border: 3px solid #d22856;
        color: #d22856;
        background: none;
        margin-bottom: 12px;
    }
    &__cancel-btn {
        border: 3px solid #283645;
        color: #283645;
        background: none;
        opacity: 0.1;
    }
}