.post {
    &__wrapper {
        background-color: #f2f2f2;
        margin: 0 auto;
        @media (min-width: $desktop-w) {
            width: 940px;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        @media (min-width: $tablet-w) {
            width: 660px;
            padding: 60px 20px;
            margin: 0 auto;
            flex-direction: row;
        }
        @media (min-width: $desktop-w) {
            width: auto;
            padding: 60px 80px;
        }
    }
    &__photo {
        margin: 0 auto 40px;
        width: 280px;
        @media (min-width: $tablet-w) {
            width: 300px;
            margin: 0;
            margin-right: 45px;
        }
        @media (min-width: $desktop-w) {
            margin-right: 90px;
        }
    }
    &__action {
        @media (min-width: $desktop-w) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__filter {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid #dddfe0;
        padding: 0 20px;
        @media (min-width: $tablet-w) {
            flex-direction: column;
            border: none;
            align-items: stretch;
            padding: 0;
            margin-bottom: 67px;
        }
    }
    &__filter-items-inner {
        display: flex;
        @media (min-width: $tablet-w) {
            flex-direction: column;
        }
    }
    &__filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        height: 70px;
        @media (min-width: $tablet-w) {
            width: 275px;
            margin: 0;
            border-bottom: 1px solid #dddfe0;
            &:last-of-type {
                padding-left: 6px;
            }
        }
        @media (min-width: $desktop-w) {
            width: 410px;
        }
        &:first-child {
            margin-left: 0px;
        }
    }
    &__filter-icon {
        fill: #283645;
        opacity: 0.3;
        @media (min-width: $tablet-w) {
            fill: #d22856;
            opacity: 1;
        }
        &:hover {
            opacity: 0.5;
            cursor: pointer;
            @media (min-width: $tablet-w) {
                opacity: 1;
                cursor: default;
            }
        }
    }
    &__filter-icon--active {
        fill: #d22856;
        opacity: 1;
        &:hover {
            opacity: 1;
        }
    }
    &__filter-icon--crop {
        width: 44px;
        height: 44px;
        @media (min-width: $tablet-w) and (max-width: $desktop-w--down) {
            width: 22px;
            height: 22px;
        }
    }
    &__filter-icon--fill {
        width: 48px;
        height: 43px;
        @media (min-width: $tablet-w) and (max-width: $desktop-w--down) {
            width: 24px;
            height: 22px;
        }
    }
    &__filter-icon--contrast {
        width: 32px;
        height: 32px;
        @media (min-width: $tablet-w) and (max-width: $desktop-w--down) {
            width: 16px;
            height: 16px;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: $desktop-w) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__post-btn {
        border: 3px solid #d22856;
        color: #d22856;
        background: none;
        margin-bottom: 12px;
        &:hover {
            background-color: #d22856;
            color: #fff;
            transition-duration: .1s;
        }
        &:active {
            color: rgba(255,255,255,.3);
            transition-duration: .1s;
        }
        @media (min-width: $tablet-w) {
            width: 260px;
        }
        @media (min-width: $desktop-w) {
            width: 183px;
            margin-bottom: 0;
        }
    }
    &__cancel-btn {
        border: 3px solid #283645;
        color: #283645;
        background: none;
        opacity: 0.1;
        @media (min-width: $tablet-w) {
            width: 260px;
        }
        @media (min-width: $desktop-w) {
            width: 183px;
        }
        &:hover {
            opacity: .3;
            transition-duration: .1s;
        }
        &:active {
            opacity: .3;
            background-color: #283645;
            color: rgba(255,255,255,.3);
            transition-duration: .1s;
        }
    }
    &__filter-range {
        padding: 0 20px;
        display: none;
        width: 280px;
        @media (min-width: $tablet-w) {
            display: block;
            width: 240px;
        }
        @media (min-width: $desktop-w) {
            width: 330px;
        }
        &--mobile {
            display: block;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: $tablet-w) {
                display: none;
            }
        }
        .ui-corner-all {
            border: none;
        }
        .ui-widget-content {
            background-color: #283645;
        }
        .ui-slider-horizontal  {
            height: 2px;
        }
        .ui-slider-handle {
            width: 15px;
            height: 15px;
            background: #f2f2f2;
            border: 2px solid #d22856;
            border-radius: 10px;
            top: -.4em;
            outline: none;
        }
        .ui-slider {
            width: 100%;
        }
    }
}