.price {
  display: flex;
  flex-direction: column;
  padding: 100px 0 50px;
  overflow: hidden;
  align-items: center;
  background: #fff url("/img/Shape_2.png") no-repeat top/cover;
  border-collapse: collapse;
  @media (min-width: $tablet-w) and (max-width: $desctop-w) {
    padding-bottom: 30px; 
  }
  th,
  td {
    border: 2px solid #e5e5e5;
    min-width: 260px;
    padding: 20px;
  }
  &__table {
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 40px;
  }
  &__tariff {
    border: 2px solid #283645;
    border-right: 2px solid #e5e5e5;
    background: #283645;
    color: #fff;
    position: relative;
    overflow: hidden;
    &:nth-of-type(2)::before {
      content: "Хит";
      width: 100px;
      transform: rotate(-45deg);
      position: absolute;
      font-size: 14px;
      font-weight: lighter;
      line-height: 21px;
      padding: 3px;
      text-transform: uppercase;
      top: 10px;
      left: -30px;
      background-color: #d22856;
    }
  }
  &__tariff-name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__tariff-value {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: lighter;
  }
  &__tariff-inner {
    display: inline-flex;
    flex-direction: column;
  }
  &__no-el {
    background-color: #f2f2f2;
    border: none !important;
  }
  &__mark {
    display: flex;
    justify-content: flex-start;
    img {
      margin-left: auto;
    }
  }
  &__dots {
    margin-top: 45px;
  }
  &__side-name,
  &__no-el {
    display: none;
    @media (min-width: $tablet-w) {
      display: table-cell;
    }
  }
  .dots {
    @media (min-width: $tablet-w) {
      display: none;
    }
  }
}