.promo {
  display: flex;
  position: relative;
  margin-top: -66px;
  background: #1d2631 url('/img/back-mobile@1x.jpg.png') top center no-repeat;
  overflow: hidden;
  color: #fff;
  &__wrapper {
    width: 100%;
  }
  &__page-title {
    margin: 100px auto 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    @media (min-width: $tablet-w) {
      margin: 180px auto 90px;
      font-size: 50px;
      line-height: 60px;
      padding: 0 50px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 20px 35px;
    position: relative;
    background-color: #1d2631;
    z-index: 1;
    margin-top: 462px;
  }
  &__title {
    display: none;
    font-size: 40px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
    width: 190px;
    margin-bottom: 40px;
  }
  &__button {
    margin-bottom: 30px;
  }
  &__app-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  &__description {
    line-height: 24px;
    text-align: center;
    padding: 0 30px;
    font-weight: lighter;
  }
  &__img-iphone {
    position: absolute;
    top: 175px;
    right: -10px;
  }
}
@media (min-width: $mobile-w) {
  .promo {
    background: #1d2631 url('/img/back-tablet@1x.png') top center no-repeat;
  }
}
@media (min-width: $tablet-w) {
  .promo {
    margin-top: -110px;
    background-size: cover;
    &__wrapper {
      padding: 0 20px;
      margin: 0 auto;
      width: 660px;
    }
    &__content {
      width: 300px;
      padding-top: 0;
      background: none;
      margin-top: 210px;
      margin-bottom: 60px;
    }
    &__title {
      display: block;
    }
    &__img-iphone {
      bottom: 0px;
      top: auto;
      right: -115px;
    }
    &__button {
      margin-bottom: 45px;
    }
    &__app-list {
      margin-bottom: 40px;
    }
    &__description {
      padding: 0;
      font-size: 18px;
    }
  }
}
@media (min-width: $desktop-w) {
  .promo {
    background: #1d2631 url('/img/back-desktop.jpg.png') top center/cover no-repeat;
    &__wrapper {
      width: 960px;
    }
    &__img-iphone {
      right: 0;
    }
    &__title {
      margin-bottom: 60px;
      width: 230px;
      font-size: 50px;
    }
    &__button {
      margin-bottom: 65px;
    }
    &__app-list {
      margin-bottom: 60px;
    }
  }
}