.promo {
  display: flex;
  position: relative;
  margin-top: -66px;
  min-height: 462px;
  background: #1d2631 url('/img/back-mobile@1x.jpg.png') top center/auto no-repeat;
  overflow: hidden;
  color: #fff;
  &__wrapper {
    margin-top: 462px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 35px;
    position: relative;
    background-color: #1d2631;
    z-index: 1;
  }
  &__title {
    display: none;
    font-size: 40px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
    width: 190px;
    margin-bottom: 40px;
  }
  &__button {
    margin-bottom: 30px;
    outline: none;
    &:hover {
      background-color: #fff;
      color: #d22856;
    }
    &:active {
      color: rgba(210,40,86,0.3);
      background-color: #fff;
    }
  }
  &__app-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  &__description {
    line-height: 24px;
    text-align: center;
    padding: 0 30px;
    font-weight: lighter;
  }
  &__img-iphone {
    position: absolute;
    top: 175px;
    right: -10px;
  }
}
@media (min-width: $mobile-w) and (max-width: $desctop-w) {
  .promo {
    background: #1d2631 url('/img/back-tablet@1x.png') top center/auto 462px no-repeat;
  }
}
@media (max-width: 590px) {
  .promo {
    &__content {
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrapper {
      padding: 0;
    }
  }
}
@media (min-width: $tablet-w) {
  .promo {
    margin-top: -110px;
    min-height: 729px;
    background-size: auto 729px;
    &__content {
      width: 300px;
      padding-top: 0;
      background: none;
    }
    &__wrapper {
      margin-top: 210px;
      margin-left: 0;
    }
    &__title {
      display: block;
    }
    &__img-iphone {
      bottom: 0px;
      top: auto;
      right: -115px;
    }
    &__button {
      margin-bottom: 45px;
    }
    &__app-list {
      margin-bottom: 40px;
    }
    &__description {
      padding: 0;
      font-size: 18px;
    }
  }
}
@media (min-width: $desctop-w) {
  .promo {
    min-height: 853px;
    background: #1d2631 url('/img/back-desktop.jpg.png') top center/cover no-repeat;
    &__img-iphone {
      right: 0;
    }
    &__title {
      margin-bottom: 60px;
      width: 230px;
      font-size: 50px;
    }
    &__button {
      margin-bottom: 65px;
    }
    &__app-list {
      margin-bottom: 60px;
    }
  }
}