.reviews {
  padding: 50px 0 35px;
  min-height: 350px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  @media (min-width: $tablet-w) {
    margin-top: 0;
    font-size: 18px;
    padding: 70px 0 20px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
  }
  &__el {
    // display: none;
    &--show {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $tablet-w) {
        flex-direction: column-reverse;
      }
    }
  }
  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    @media (min-width: $tablet-w) {
      font-size: 20px;
      margin-bottom: 0;
    }
    @media (min-width: $desktop-w) {
      font-size: 24px;
    }
  }
  &__title-prof {
    display: none;
    font-size: 14px;
    @media (min-width: $tablet-w) {
      display: block;
      margin-bottom: 40px;
    }
    @media (min-width: $desktop-w) {
      font-size: 18px;
    }
  }
  &__descr {
    padding: 0 3px;
    margin-bottom: 40px;
    @media (min-width: $desktop-w) {
      width: 700px;
    }
  }
  &__quotes {
    display: none;
    width: 80px;
    height: 65px;
    margin-bottom: 50px;
    @media (min-width: $desktop-w) {
      display: block;
    }
  }
  &__arrow {
    display: none;
    cursor: pointer;
    border: none;
    background-color: #fff;
    outline: none;
    @media (min-width: $desktop-w) {
      display: block;
      position: absolute;
      top: 50%;
    }
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
  .dots {
    @media (min-width: $desktop-w) {
      display: none;
    }
  }
} 