.wrapper {
  position: relative;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-w) {
  .wrapper{
    width: 660px;
  }
}

@media (min-width: $desktop-w) {
  .wrapper{
    width: 960px;
    padding: 0 10px;
  }
}

.main-form {
  .wrapper {
    @media (max-width: $tablet-w--down) {
      padding: 0;
    }
  }
}